/Content.*/Nuclear14/* @Just-a-Unity-Dev # I'm a pretty good C# dev, I guess
/.github/ @Just-a-Unity-Dev # This is sysadmin territory, I'll review your PR before merging it

*.ftl @Just-a-Unity-Dev # Just to skim and make sure everything you have works

/Resources/Prototypes/Nuclear14/* @Peptide90 @Ablankmann @Just-a-Unity-Dev
/Resources/Textures/Nuclear14/* @Peptide90 @Ablankmann
