- type: job
  id: TribalElder
  setPreference: true
  overrideConsoleVisibility: false
  canBeAntag: false
  name: job-name-tribal-elder
  description: job-description-tribal-elder
  playTimeTracker: TribalElder
  requirements:
    - !type:CharacterSpeciesRequirement
      species:
      - Human
      - Ghoul
    - !type:CharacterDepartmentTimeRequirement
      department: Tribe
      min: 14400 # 4 hours
  startingGear: TribalElderGear
  icon: "JobIconBotanist"
  supervisors: job-supervisors-tribal-elder
  access:
  - TribeMember
  - TribeChief
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - Wastelander
          - Tribal
  - !type:AddTraitSpecial
    traits: [ LanguageTribal ]

- type: startingGear
  id: TribalElderGear
  equipment:
    jumpsuit: N14ClothingUniformJumpsuitTribal
    suitstorage: N14TribalBigClubDecorated
    outerClothing: N14ClothingOuterTribalCoat
    shoes: N14ClothingShoesTribal
    gloves: N14ClothingHandsGlovesTribal
    back: N14ClothingBackpackSatchelTribalElderFilled
    pocket1: N14WeaponRevolver45-70HandcannonUpgraded
    pocket2: N14TribalKnife
    id: N14IDTribeBossPendant
  innerClothingSkirt: N14ClothingUniformJumpskirtTribal
  satchel: N14ClothingBackpackSatchelTribalFilled

- type: playTimeTracker
  id: TribalElder
