- type: job
  id: TribalFarmer
  setPreference: true
  overrideConsoleVisibility: false
  canBeAntag: false
  name: job-name-tribal-farmer
  description: job-description-farmer
  playTimeTracker: TribalFarmer
  requirements:
    - !type:CharacterSpeciesRequirement
      species:
      - Human
      - Ghoul
    - !type:CharacterDepartmentTimeRequirement
      department: Tribe
      min: 7200 # 2 hours
  startingGear: TribalFarmerGear
  icon: "JobIconBotanist"
  supervisors: job-supervisors-tribal
  access:
  - TribeMember
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - Wastelander
          - Tribal
  - !type:AddTraitSpecial
    traits: [ LanguageTribal ]

- type: startingGear
  id: TribalFarmerGear
  equipment:
    jumpsuit: N14ClothingUniformJumpsuitTribal
    outerClothing: N14ClothingOuterTribalArmor
    shoes: N14ClothingShoesTribal
    gloves: N14ClothingHandsGlovesTribal
    back: N14ClothingBackpackTribalFilled
    belt: ClothingBeltPlantFilled # placeholder
    pocket1: N14TribalKnife
    pocket2: Triballoadoutkits #given to them until i sort out this role
    id: N14IDTribeEnforcerPendant
  innerClothingSkirt: N14ClothingUniformJumpskirtTribal
  satchel: N14ClothingBackpackSatchelTribalFilled

- type: playTimeTracker
  id: TribalFarmer
