- type: job
  id: BoSWashingtonCommander
  setPreference: true
  name: job-name-bos-washington-commander
  description: job-description-bos-washington-commander
  playTimeTracker: BoSWashingtonCommander
  requirements:
    - !type:DepartmentTimeRequirement
      department: BrotherhoodWashington
      min: 36000 # 10 hours
  weight: 10
  startingGear: BoSWashingtonCommanderGear
  alwaysUseSpawner: true
  icon: "JobIconHeadOfSecurity"
  supervisors: job-supervisors-bos-washington-commander
  requireAdminNotify: true
  canBeAntag: false
  accessGroups:
  - BOSWashington
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - BrotherhoodWashington
  jobBlockForSpecies:
  - !type:JobBlockForSpecie
    nameSpecie: Ghoul
  - !type:JobBlockForSpecie
    nameSpecie: GhoulGlowing

- type: startingGear
  id: BoSWashingtonCommanderGear
  equipment:
    jumpsuit: N14ClothingUniformJumpsuitBOSBlack
    back: N14ClothingBackpackMilitary
    shoes: N14ClothingBootsCombatMK2Filled
    neck: N14ClothingNeckCloakBrotherhoodWashington
    head: N14ClothingHeadHatBrotherhoodBeret
    id: N14IDBrotherhoodWashingtonHolotagCommander
    ears: N14ClothingHeadsetBOSWashington
    belt: ClothingBeltBoSWebbing

- type: playTimeTracker
  id: BoSWashingtonCommander
