- type: job
  id: NCRDoctor
  setPreference: true
  name: job-name-ncr-doctor
  description: job-description-ncr-doctor
  playTimeTracker: NCRDoctor
  requirements:
    - !type:DepartmentTimeRequirement
      department: NCR
      time: 3600 # 1 hour
  startingGear: NCRDoctorGear
  icon: "JobIconPassenger"
  supervisors: job-supervisors-ncr-nco
  canBeAntag: false
  access:
  - NCR
  - NCRMedic
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - NCR

- type: startingGear
  id: NCRDoctorGear
  equipment:
    jumpsuit: N14ClothingUniformNCR
    back: N14ClothingBackpackWastelanderFilled # N14TODO: Doctors Bag
    head: N14ClothingHeadHatNCRBeretMedic
    shoes: N14ClothingShoesBlack
    gloves: N14ClothingHandsGlovesNitrile
    belt: ClothingBeltMedicalfilled
    id: N14IDNCRDogtagDoctor
    pocket1: N14WeaponPistol9mm
    pocket2: NCRtrooperloadoutkits
    outerClothing: ClothingOuterCoatLab
    backpack: N14ClothingBackpackSatchelNCRFilled
  innerClothingSkirt: N14ClothingUniformNCR
  satchel: N14ClothingBackpackSatchelNCRFilled
  duffelbag: N14ClothingBackpackDuffelFilled  # N14TODO: Doctors Bag

- type: playTimeTracker
  id: NCRDoctor
