- type: job
  id: NCRQM
  setPreference: true
  name: job-name-ncr-qm
  description: job-description-ncr-qm
  playTimeTracker: NCRQM
  requirements:
    - !type:DepartmentTimeRequirement
      department: NCR
      time: 14400 # 4 hours
  startingGear: NCRQMGear
  icon: "JobIconWarden"
  supervisors: job-supervisors-ncr-nco
  canBeAntag: false
  access:
  - NCR
  - NCRNCO
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - NCR

- type: startingGear
  id: NCRQMGear
  equipment:
    head: N14ClothingHeadHatNCRBeretQM
    back: N14ClothingBackpackNCRFilled
    jumpsuit: N14ClothingUniformNCR
    shoes: N14ClothingBootsLeather
    id: N14IDNCRDogtagNCO
    pocket1: NCRNCOloadoutkits
    pocket2: RadioHandheld
  innerClothingSkirt: N14ClothingUniformNCR #placeholder
  satchel: N14ClothingBackpackSatchelNCRFilled

- type: playTimeTracker
  id: NCRQM
